// Custom configuration for nf-core/fastquorum pipeline
// Set maximum memory to 1.8GB for all processes

process {
    memory = '1.8 GB'
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:FASTQTOBAM' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:GROUPREADSBYUMI' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:COLLECTDUPLEXSEQMETRICS' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:CALLDDUPLEXCONSENSUSREADS' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:ALIGN_CONSENSUS_BAM' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:FILTERCONSENSUSREADS' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:MULTIQC' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:FASTQUORUM:FASTQC' {
        memory = '1.8 GB'
    }
    
    // PREPARE_GENOME processes
    withName: 'NFCORE_FASTQUORUM:PREPARE_GENOME:BWAMEM1_INDEX' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:PREPARE_GENOME:SAMTOOLS_FAIDX' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:PREPARE_GENOME:SAMTOOLS_DICT' {
        memory = '1.8 GB'
    }
    
    // ALIGNMENT processes
    withName: 'NFCORE_FASTQUORUM:ALIGNMENT:BWAMEM1' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:ALIGNMENT:SAMTOOLS_SORT' {
        memory = '1.8 GB'
    }
    
    withName: 'NFCORE_FASTQUORUM:ALIGNMENT:SAMTOOLS_INDEX' {
        memory = '1.8 GB'
    }
    
    // Any other process that might be used
    withName: '.*' {
        memory = '1.8 GB'
    }
}

params {
    max_memory = '1.8 GB'
    max_cpus = 2
    max_time = '6.h'
}
