params {
    customUUID = java.util.UUID.randomUUID().toString()
    // GCP bucket for work directory - make configurable
    gcpWorkBucket = 'tracer-nextflow-work'
}

workDir = "gs://${params.gcpWorkBucket}/work"

process {
    executor = 'google-batch'
    machineType = 'template://my-instance-template'

    // Set env vars for the containers
    containerOptions = [
        environment: [
            'TRACER_TRACE_ID': "${params.customUUID}"
        ]
    ]

    env.TRACER_TRACE_ID = params.customUUID

    errorStrategy = 'retry'
    maxRetries = 2

    // Resource labels for Google Batch
    resourceLabels = [
        'launch-time': new java.text.SimpleDateFormat("yyyy-MM-dd_HH-mm-ss").format(new Date()),
        'custom-session-uuid': "${params.customUUID}",
        'project': 'tracer-467514'
    ]
}

// GCP Batch/credentials configuration (optional)
google {
  project = 'tracer-467514'
  location = 'us-central1'
  serviceAccountEmail = 'nextflow-batch@tracer-467514.iam.gserviceaccount.com' 
}