params {
    customUUID = java.util.UUID.randomUUID().toString()
}

wave {
    enabled = true
    strategy = 'conda,container'
}

process {
    executor = 'awsbatch'
    queue = System.getenv('BATCH_QUEUE') ?: 'NextflowCPU'
    
    errorStrategy = 'finish'
    maxRetries = 1
    
    memory = '4 GB'
    cpus = 2
    time = '2h'
    
    containerOptions = "--env TRACER_TRACE_ID=${params.customUUID}"

    resourceLabels = [
        'launch-time': new java.util.Date().format('yyyy-MM-dd_HH-mm-ss'),
        'custom-session-uuid': "${params.customUUID}",
        'project': 'tracer-bioinformatics'
    ]
}

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
        maxSpotAttempts = 3
        maxParallelTransfers = 4
        maxTransferAttempts = 3
        delayBetweenAttempts = '10 sec'
    }
    client {
        maxConnections = 20
        maxErrorRetry = 5
        connectionTimeout = 60000
        socketTimeout = 60000
        uploadStorageClass = 'STANDARD'
        storageEncryption = 'AES256'
    }
}
